/* 全局的动画 */
.fade-guide-leave-active {
  transition: opacity 2s;
}
.fade-guide-leave-to {
  opacity: 0;
}

/* 产品轮播覆盖 */
.carousel-3d-slider{
  display: flex;
  justify-content: center;
  margin: 0;
  width: auto;
}

/* 产品列表下划线 */
.van-tabs__line {
  background: #e8c763 !important;
}
html {
  height: 100%;
}
/* 全局的背景色 */
body {
  height: 100%;
  background-color: #eee;
}

/* 弹窗的位置调整 */
.van-toast {
  top: 80% ;
}
/* 弹窗不换行 */
.van-toast__text {
  white-space: nowrap;
}
/* 设置弹窗的最小宽度 */
.van-toast--default{
  min-width: 3.2rem!important;
  width: initial!important;
}
/* 产品详情弹窗样式 */
.van-button--large {
  height: 44px !important;
  background: #D6A956 !important;
  color: #fff !important;
  font-size: 17px !important;
}
