/* 全局的动画 */
.fade-guide-leave-active {
  transition: opacity 4s;
}
.fade-guide-leave-to {
  opacity: 0;
}

/* 产品轮播覆盖 */
.carousel-3d-slider{
  display: flex;
  justify-content: center;
  margin: 0;
  width: auto;
}

/* 产品列表下划线 */
.van-tabs__line {
  background: #e8c763 !important;
}